
*{
    margin: 0px;
    padding: 0px;
}

.margin-y{
    margin-top:2em;
}

.card{
    margin: 15px
}

header{
    display:flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(43, 43, 43);
    color:white
}

form{
   margin-bottom:1em;
}

.jumbotron{
    padding:2em
}